<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
  <customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="th-TH" uiCulture="th-TH" />
  </system.web>
    <system.webServer>
        <security>
            <access sslFlags="Ssl" />
        </security>
    </system.webServer>
</configuration>
